/*
Dark grey - #4D4D4D
Not white - #FAFAF5;
*/

body {
    /*background: url("../img/background.jpg") no-repeat center fixed;*/
    background-size: 1920px 1080px;
    font-family: 'Muli', sans-serif;
    color: #4D4D4D;
    background-color: #FAFAF5;
}
body.photo-page {
    background-color: #030303;
}

.scroll-fix {
    padding-left: 17px !important;
}

a {
    cursor: pointer;
}

.row {
    margin-top: 51px !important;  
}

.navbar .navbar-nav {
    display: inline-block;
    float: none;
}
.navbar {
    text-align: center;
}
nav {
    background-color: #FAFAF5 !important;
}
nav li {
    margin-bottom: -5px;
    font-size: 22px;
}
nav li a {
    outline: none !important;
    color: #666 !important;
}
nav li a:hover {
    color: #333 !important;
}
nav li a:focus {
    color: #333 !important;
}
.active > a {
    background-color: #FAFAF5 !important;
}

img {
    max-width: 100%;
    max-height: 100%;
}
.img-row {
    padding-left: 1px;
    padding-right: 1px;
}
.img-row a:focus:active {
    outline: none !important;
}
.img-row a:focus {
    outline: none !important;
}
.img-row a:focus img {
    outline: 1px dotted whitesmoke;
}

/*Vertically align modal*/
.modal {
    text-align: center;
}
.modal:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 90%;
}
.modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
    position: relative;
    min-width: 75%;
    min-height: 75%;
}

/* MOBILE */
@media only screen and (max-width:768px) {
    .img-row a {
        pointer-events: none;
    }
}
/*-------*/

.modal-close button {
    margin-right: 15px;
    margin-top: 15px;
}

.modal-content {
    background-color: #222;
}

body.modal-open {
    padding-right: 0px !important;
    overflow-x: hidden;
    overflow-y: scroll;
}

.col-md-6 {
    padding: 1px;
}

/* Underline From Center */
.hvr-underline-from-center {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  overflow: hidden;
}
.hvr-underline-from-center:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 50%;
  right: 50%;
  bottom: 0;
  margin-bottom: 10px;
  margin-left: 15px;
  margin-right: 15px;
  background: #4D4D4D;
  height: 1px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
  left: 0;
  right: 0;
}
@media only screen and (max-width:768px) {
    .hvr-underline-from-center {
      display: inline-block;
      vertical-align: middle;
      -webkit-transform: perspective(1px) translateZ(0);
      transform: perspective(1px) translateZ(0);
      box-shadow: 0 0 1px transparent;
      position: relative;
      overflow: hidden;
    }
    .hvr-underline-from-center:before {
      content: "";
      position: absolute;
      z-index: -1;
      left: 50%;
      right: 50%;
      bottom: 0;
      margin-bottom: 5px;
      margin-left: 15px;
      margin-right: 15px;
      background: #4D4D4D;
      height: 1px;
      -webkit-transition-property: left, right;
      transition-property: left, right;
      -webkit-transition-duration: 0.3s;
      transition-duration: 0.3s;
      -webkit-transition-timing-function: ease-out;
      transition-timing-function: ease-out;
    }
    .hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
      left: 0;
      right: 0;
    }
}

/* Prevent Navbar Collapse for Mobile */
@media only screen and (max-width:768px) {
    .navbar-nav > li {
        float: left !important;
    }
}